---

---

<span class="relative flex h-4 w-4">
  <span
    class="animate-ping absolute inline-flex h-full w-full rounded-[3px] bg-mGreen opacity-75"
  ></span>
  <span class="relative inline-flex rounded-[3px] h-4 w-4 bg-mGreen"></span>
</span>
