---
import { Icon } from "astro-icon/components";
---

<div class="down flex justify-center sm:py-1">
  <button>
    <Icon name="heroicons:chevron-down-solid" class="size-10 animate-bounce" />
  </button>
</div>
