---
const { class:className , title, body, order } = Astro.props;
---

<div
  id="guidness-box"
  class=`right-comming dark:bg-mGreen bg-white text-black p-10 dark:rounded-lg relative overflow-hidden flex flex-col gap-5 ${className}`
>
  <h2 class="font-bold text-2xl z-10 relative">{title}</h2>
  <h3 class="text-xl z-10 relative leading-9">
    {body}
  </h3>
  <div
    id="guidness-count"
    class="font-black text-9xl absolute top-[5%] z-0 opacity-10"
  >
    {order}
  </div>
</div>
