---
import eitaaIcon from "../assets/icons/eitaa.svg";
import telegramIcon from "../assets/icons/telegram.svg";
import githubIcon from "../assets/icons/github.svg";
import githubIconWh from "../assets/icons/github-wh.svg";
import { Image } from "astro:assets";
import { Icon } from 'astro-icon/components'
import PN from "persian-number";
---

<footer class="dark:text-white">
  <div class="footer flex gap-20 sm:gap-10 sm:justify-center">
    <div class="flex flex-col gap-5 sm:text-[12px]">
      <h3 class="font-extrabold text-[28px] text-mOrange dark:text-mGreen">
        خدمات
      </h3>
      <ul class="col1-list flex flex-col gap-3">
        <li>طراحی سایت</li>
        <li>طراحی سایت خدماتی</li>
        <li>طراحی سایت آموزشی</li>
      </ul>
    </div>
    <div class="flex flex-col gap-5 sm:text-[12px]">
      <h3 class="font-extrabold text-[28px] text-mOrange dark:text-mGreen">
        راه های ارتباطی
      </h3>
      <ul class="col2-list flex flex-col gap-3">
        <li>
          ایمیل :
          <a href="">
            m.yousefi.isf@gmail.com
          </a>
        </li>
        <li>شماره همراه : {PN.convertEnToPe("09130199470")}</li>
        <li>
          <a href="https://t.me/yousefi_isf" target="_blank">
            <Icon name="logos:telegram" class="size-8"/>
          </a>
          <a href="https://github.com/yousefi-isf" target="_blank">
            <Icon name="github-white" class="size-8"/>
          </a>
          <a href="https://eitaa.com/yousefi_isf" target="_blank">
            <Icon name="eitaa" class="size-8"/>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="copy-right text-center pt-5 sm:text-[12px]">
    <h6>
      تمام حقوق مادی و معنوی سایت برای <span class="font-extrabold"
        >محمد یوسفی</span
      > محفوظ است
    </h6>
  </div>
</footer>
