---
// import
// console.log("sflkjd");
import { Icon } from "astro-icon/components";
---

<header>
  <nav class="header p-12 flex justify-between">
    <ul class="right flex gap-32 text-[20px]">
      <li>نمونه کارها</li>
      <li>درباره من</li>
      <li>پست های مفید</li>
      <li>راه های ارتباطی</li>
    </ul>
    <ul class="left">
      <a href="#"><Icon name="dark" class="text-[20px]" /></a>
    </ul>
  </nav>
</header>
