---
import ThemeToggle from "../components/ThemeToggle";
---

<header class="dark:text-white">
  <nav class="header p-12 flex justify-between sm:p-5">
    <ul class="right flex gap-32 text-[20px] sm:gap-3 sm:text-[16px]">
      <a href="/"><li class="sm:hidden">صفحه اصلی</li></a>
      <a href="/about-me"><li>نمونه کارها</li></a>
      <li>درباره من</li>
      <li>پست های مفید</li>
      <li class="sm:hidden">راه های ارتباطی</li>
    </ul>
    <ul class="left">
      <ThemeToggle client:only="react" />
    </ul>
  </nav>
</header>
