---
import "./layout.css";
import Header from "./Header.astro";
import Footer from "./Footer.astro";
import { ViewTransitions } from "astro:transitions";
---

<html lang="fa" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>M.Yousefi</title>
    <script is:inline data-astro-rerun>
      const theme = (() => {
        if (
          typeof localStorage !== "undefined" &&
          localStorage.getItem("theme")
        ) {
          return localStorage.getItem("theme");
        }
        if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
          return "dark";
        }
        return "light";
      })();
      localStorage.setItem("theme", theme);

      if (theme === "light") {
        document.documentElement.classList.remove("dark");
      } else {
        document.documentElement.classList.add("dark");
      }
    </script>
    <link
      rel="/apple-touch-icon"
      sizes="180x180"
      href="./apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="./favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="./favicon-16x16.png"
    />
    <ViewTransitions />
  </head>
  <body class="dark:bg-black transition-colors duration-500">
    <Header />
    <div class="dark:text-white">
      <slot />
    </div>
    <Footer />
  </body>
</html>
