---
// import Header from "../components/Header";
// import Header from "./Header.astro";
// import Header from "../components/Header";
import Header from "./Header.astro";
import { ViewTransitions } from "astro:transitions";
---

<html lang="fa" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>M.Yousefi</title>
    <ViewTransitions />
  </head>
  <body class="dark:bg-black transition-colors duration-500">
    <Header />
    <slot />
  </body>
</html>
