---
// const { title } = Astro.props;
import Header from "./Header.jsx";
import { ViewTransitions } from "astro:transitions";
---

<!doctype html>
<html lang="fa" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>M.Yousefi</title>
    <ViewTransitions />
  </head>
  <body>
    <Header />
    <slot />
  </body>
</html>
